.imageWrap {
    text-align: center;

}


.card-body{
    margin: none;
    
}
.cardtext{
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}
.cardSubText{
    color: rgb(179, 176, 176);
}
.duration{
    font-size: 0.9rem;
    color: rgb(179, 176, 176);
    margin-top: 3%;
}
.cardtitle{
    margin-top: 4%;
}
.networkButtonEdit{
    border: 0;
    outline: none;
    background-color:#6A71E6;
    border-radius: 6px;
    /* height: ; */
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    font-size: large;
    font-weight: 500;
    margin-left: 2%;
}
.networkButton{
    border: 0 ;
    outline: none;
    background-color:#6A71E6;
    border-radius: 6px;
    /* height: ; */
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    font-size: large;
    font-weight: 500;
    margin-left: 5%;
}

.networkButton:disabled{
    background-color: grey;
}