.NetworkContainer{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    
}
.forContainer{
    margin-top: 3%;
}
.SearchFormContainer{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
    margin-right: 5%;
    width: 100%;
    border-bottom: 2px solid grey;
    margin-top: 5%;
    padding-right: 13%;
    display: flex;
}
#showMore-btn{
    display: block;
    margin: 0 auto;
}
.challangePostButtonContainer{
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    width: 100%;
}
.challangePostButton{
    padding: 1%;
    background-color: rgb(104, 102, 217);
    color: white;
    margin-right: 5%;
    border-radius: 15px;
    border: 1px solid palevioletred;
}

