.SearchForm{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
    
}
.SearchInput{
    border-radius: 10px;
}
.CardContainer{
    display: flex;
}
#dotbogi{
    margin-left: 3%;
}