.img{
    width: 200px;
    height: 200px;

    /* margin-right: 15px; */
}
.goodImg{
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: center;
}
.icon{
    width: 20px;
    height: 20px;
}