.mainPage2{ 
    width: 90%;
    height: 90%; 
    margin: 10px auto;
    -webkit-box-shadow:0px 0px 12px 01px #000000;
    box-shadow: 0px 0px 12px -1px #000000;


};
.mainpage2Container{
  border: 3px solid black;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  .mainpage2Container .main2Title{
    padding-top: 3%;
    color: #2A1A8F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
  }
  
  .mainpage2ButtonContainer{
    display: flex;
    margin-top: 1%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .mainpage2ButtonContainer button{
    margin: 3%;
    font-size: 2rem;
    
  }
  .ex2GraphContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
  }
  .ex2GraphContainer h1{
    margin: 4% 4% 4% 4%;
  }