.mainPage3{
    background-image: url('../../images/mainpage/MainPage3.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
  }
  .mainPage3Title{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 15vh;
    align-items: center;
    color: white;
    
  }
 
  
  .mainPage3GraphContainer{
    display: flex;
    align-items: center;
    height: 75vh;
    color: azure;
    flex-direction: column;
    align-items: center;
    
  }
  .recharts-responsive-container{
    margin-top: 10%;
    padding: 0;
    height: 80vh;
  }
  .mainPage3GraphContainer h1{
    
    font-size: 3rem;
  }