.mainpage5{
    width: 90%;
    height: 88vh; 
    margin: 10px auto;
    -webkit-box-shadow:0px 0px 12px 01px #000000;
    box-shadow: 0px 0px 12px -1px #000000;
    flex-direction: column;
}
.graphContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: none;
}
.graphDescription{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5vh;
    text-align: center;
    width: 100%;
    font-size: 5rem;
}

.disasterText{
    padding-top: 3%;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    font-weight: 600;
}

