html { 
  scroll-behavior: smooth; 
} 
.mainPage1{
  width: 100%;
  height: 100vh;
  background-color: #FFFFFF;
  background-position: center;
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Gothic';
}

.mainPageContainer{
  background-image: url('../../images/mainpage/MainPage1.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  height: 90vh;
  font-size: 4rem;
  font-weight: 500;
  width: 100%;
}

.mainPageContainer .logoBig {
  width: 64px;
  height: 64px;
}
.mainPageContainer .missioncheck{
  font-weight: 600;
}
.buttonContainer{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 20vh;
}
.buttonContainer button{
  margin-left: 2%;
}
.scroll{
  width: 100%;
  height: 6vh;
  justify-content: center;
  justify-items: center;
  text-align: center; 
  /* transform:translate(-50%,-50%); */
  padding-top: 1rem;
  animation:circlemove 1.5s infinite linear;
}
.titleScroll{
  font-size: 1.7rem;
  color:  #98108D;
  margin-right: 2px;
}

.scrollLogo{
  width: 24px;
  height: 24px;
  margin-left: 2px;
}

@keyframes circlemove{
  0%,100%{
      transform:translate(-1%,-1%);
  }
  50%{
      transform:translate(-1%,-6%);
  }
}
  
