.checkImgInner{
    display: flex;
    flex-direction: column;
    /* text-align: center; */
}
.checkImgTitle{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 10px;
}
.img{
    width: 200px;
    height: 200px;
    /* margin-right: 15px; */
}
.checkImg{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}
.goodImg{
    display: flex;
    flex-direction: column;
    margin-right: 30px;

}
.badImg{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.icon{
    width: 20px;
    height: 20px;
}