.img-wrapper{
    display: flex;
    justify-content: center;
}
.upload-btn{
    display: flex;
    justify-content: center;
}
.checkImgCarousel{
    
    height: 25vh;
    width: 1000px;
    margin-top: 5%;
}
.allcheck{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card17{
    width: 355px;
    height: 200px;
    background-position: center center;
    background-size: cover;
    resize: both;
    overflow: scroll;

}
.imgCheckCardContainer{
    display: flex;
}