*,*::after, *::before{
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
}
body{
    font-size: 1.5rem;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #2A1A8F;
    cursor: pointer;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 8vh;
    background: none;
    opacity: 100%;
}
.nav-brand{
    text-transform: uppercase;
    font-weight: bold;
}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3rem;
}
.nav-toggler div{
    width: 3rem;
    height: 0.2rem;
    margin: 0.4rem;
    background: azure;
    transition: 0.4s ease-in;
}
.nav-toggler{
    cursor: pointer;
    display: none;
}
@media screen and (max-width: 768px) {
    .nav-toggler{
        display: block;
    }
    .nav-menu{
        position: fixed;
        top: 7vh;
        right: 0;
        width: 40%;
        height: 93vh;
        background: none;
        flex-direction: column;
        transform: translateX(100%);
        transition: 1s ease-in
    }
}

/* Nav Active */

.nav-active{
    transform: translateX(0);
}

/* Toggler Icon Animation */
.toggle .line1{
    transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(4px, -5px);
}