@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,300;1,700;1,800&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;;
    margin: 0;
}

.modalBackground{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #FFFCFC; */
    /* 배경에 픽스를 주고 투명도를 넣어줌 */
    background-color: rgba(0,0,0,0.6);
    z-index: 10000;
}
.challengeDetailModal {
    /* background-color: #FFFCFC; */
    width: 540px;
    height: 620px;
    position: relative;
    box-sizing: border-box;
    margin:50px auto;
    background: #fff;
    background-color: var(--color-white);
    border-radius: 6px;
}
.challengeDetailModalContents{
    margin: 0 auto;
    /* margin-left: 10px; */
    width: 100%;
    /* height: 600px; */
    position: relative;
    padding: 0 20px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.challengeModalCloseBtn{
    position: relative;
    margin-left: 485px;
    margin-top: 5px;
}

.challengeDetailTop{
    display: flex;
    /* align-items: center;
    flex-direction: row; */
    /* margin: 0 0 5px; */
    width: 100%;
    height: 240px;
}

.challengeTopLeft{
    width: 240px;
    height: 240px;
    /* margin: 0 auto; */
    /* width: 100%; */
    position: relative;
    padding: 0;
    /* box-sizing: border-box; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.challengeImage{
    width: 240px;
    height: 180px;
    margin: 10px 0 0;
    box-sizing: border-box;
}

.chanllegeDday{
    margin: 5px 0 0;
    text-align: center;
}

.challengeTopRight{
    width: 240px;
    height: 230px;
    margin: 10px 0px 0px 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.FavoriteLight{
    margin-left: 105px;
}

.challengeScroll{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 240px;
    height: 140px;
    padding: 10px;
    background-color: #ECF0F1;
    margin-top: 0;
}

.challengeDetailMiddle{
    display: flex;
    margin: 0;
    width: 100%;
    height: 40px;
    justify-content: space-evenly;
}
.challengeJoinNumber{
    display: flex;
    margin: 0px 5px 0px;
}

.challengePoint{
    display: flex;
}

.colorGray{
    color: #9C9C9C;
}

.colorBlack {
    color: black;
}

.challengeDetailBottom{
    margin: 0;
    width: 100%;
    height: 240px;
}

.challengeManual{
    width: 100%;
    height: 50px;
    margin: 10px 0 10px;
}

/* .manualTitle{
    font-weight: 600;
} */

.challengeManualDescription{
    display: flex;
    margin: 0;
    width: 100%;
    height: 180px;
    justify-content: space-evenly;
}

.explainImage{
    width: 180px;
    height: 120px;
    margin: 0;
}

.colorOrange{
    color: #E74C3C;
}

.challengeManualDescriptionLeft{
    /* margin-left: 40; */
    width: 100%;
    /* height: 200px; */
    position: relative;
    padding: 0 5px 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.challengeManualDescriptionRight{
    /* margin: 0 auto; */
    width: 100%;
    /* height: 200px; */
    position: relative;
    padding: 0 5px 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.challengeJoinBtn{
    border: 0;
    outline: none;
    background-color:#6A71E6;
    border-radius: 6px;
    /* height: ; */
    color: #fff;
    padding: 10px;
    margin-top: 7px;
    /* margin-left: 0px; */
    width: 500px;
    font-size: large;
    font-weight: 500;
}






