.checkChallenge{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.upperSection{
    width: 100%;
    height: 15vh;
     border-bottom: 1px solid #7E7E84;
     display: flex;
     align-items: center;
     justify-content: center;
}
.checkText{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 10%;
}
.checkContents{
    width: 100%;
   
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.mainimg{
    width: 20%;
    
    height: 80vh;
    display: flex;
    
    flex-direction: column;
    align-items: center;

}

.mainContent{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


.imgContents{
    width: 100%;
    height: 50vh;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.pointContents{
    width: 100%;
    height: 10vh;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttonContents{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
