.checkChallenge{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.upperSection{
    width: 100%;
    height: 15vh;
     border-bottom: 1px solid #7E7E84;
     display: flex;
     align-items: center;
     justify-content: center;
}
.checkText{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: 600;
    margin-left: 10%;
}
.checkContents{
    width: 100%;
   
    height: 80vh;
    display: flex;
    flex-direction: row;
}
.mainimg{
    width: 20%;
    
    height: 80vh;
    display: flex;
    
    flex-direction: column;
    align-items: center;

}
.checkBtn{
    background-color: #9399FF;
    color: rgb(255, 255, 255);
    border: 1px solid #9399FF;
    border-radius: 8px;
}
.checkBtn:disabled{
    background-color: #7E7E84;
}
.mainContent{
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.countweek{
    width: 100%;
    height: 20%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.countweek button{
    padding: 0.5%;
    margin: 3%;
    width: 15%;
}
.imgContents{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.pointContents{
    width: 100%;
    margin-top: 5vh;
    height: 10vh;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

