@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Open+Sans:ital,wght@0,500;0,600;0,700;0,800;1,300;1,700;1,800&display=swap');

/* Global */
:root {
    /* Color */
    --color-white: #ffffff;
    --color-light-white: #eeeeee;
    --color-black: #4d4d4d;
    --color-dark-grey: #4d4d4d;
    --color-grey: #616161;
    --color-light-grey: #7c7979;
    --color-black: #000000;
    --color-purple:#6A71E6;
  
    /* Font size */
    --font-large: 66px;
    --font-medium: 50px;
    --font-regular: 35px;
    --font-small: 18px;
    --font-micro: 13px;
  
    /* Font weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
  
    /* Size */
    --size-border-radius: 6px;
  
  }
* {
    box-sizing: border-box;
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
}

.modalBackground{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #FFFCFC; */
    /* 배경에 픽스를 주고 투명도를 넣어줌 */
    background-color: rgba(0,0,0,0.6);
    z-index: 10000;
}
.signUpModal {
    /* background-color: #FFFCFC; */
    width: 460px;
    height: 600px;
    position: relative;
    box-sizing: border-box;
    margin:50px auto;
    background: #fff;
    background-color: var(--color-white);
    border-radius: 6px;
}
.signUpModalContents{
    margin: 0 auto;
    /* margin-left: 10px; */
    width: 100%;
    position: relative;
    padding: 0 30px 32px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #000000;
}
.closeBtn{
    position: relative;
    margin-left: 370px;
    margin-top: 10px;
}
.title{
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.signUpModalContents h3{
    font-size: 15px;
    font-weight: bold;
    padding-top: 7px;
}
alert{
    color: red;
}

.signUpModalContents input{
    width: 400px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #CDCCCC;
}
.signUpModalContents input:focus{
    outline: none;
    border-color:#6A71E6;
}

.emailBox{
    display: flex;
}
.emailBox .emailInputBox{
    width: 400px;
}
.emailBox .emailCheck {
    font-size: 15px;
    color: #7c7979;
    border: none;
    background-color: #CDCCCC;
    border-radius: 6px;

}
.emailBox .emailCheck span{
    font-size:10px;
}
.signUpModalContents .checkBoxContents{
    margin-top: 20px;
}
.signUpModalContents .checkBox{
    width: 14px;
    height: 14px;
}
.signUpModalContents .checkBoxContent span{
    font-size: 13px;
}

.signUpBtn{
    border: 0;
    outline: none;
    background-color:#6A71E6;
    border-radius: 6px;
    /* height: ; */
    color: #fff;
    padding: 10px;
    margin-top: 38px;
    font-size: large;
    font-weight: 500;
}

.signUpBtn:disabled{
    border: 0;
    outline: none;
    background-color: #7c7979;
    border-radius: 6px;
    /* height: ; */
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    font-size: large;
    font-weight: 500;
}